body {
    background-image: url(/assets/DavidIsAdventurous.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment:fixed;
}

.center-splash {
    display: flex;
    justify-content: center;
    align-content: center;
}

.accomplishments-accordian {
    max-width: 84%;
}

.title-vertical-center {
    margin: auto;
    width: 90%;
    padding-top: 10rem;
    align-items: stretch;
}

.social-links {
    max-width: fit-content;
}

.title-length {
    margin-left: 20%;
    margin-right: 20%;
}


